/* Augmenter l'espacement entre les cartes et les vidéos sur les petits écrans */
@media (max-width: 767px) {
    .card, .embed-responsive {
        margin-bottom: 30px !important; 
    }
}

header {
    background: url('../images/header.png') no-repeat center center;
    background-size: cover;
}
